[config]
cf_graf = data/object-detection.pbtxt
cf_pipeline = faster_rcnn_inception_resnet_v2_atrous_coco.config
cf_model_dir = training
cf_output_dir = output
cf_output_model = output/frozen_inference_graph.pb
cf_list_file = static/list/list.json
cf_pic_path = static
cf_xml_path = static
cf_tmp_pic = static/tmp/1.png
cf_texts_id = 1

[flask]
fk_host = 0.0.0.0
fk_port = 5000

[tenssor]
ts_min_score = 0.1
ts_mode = GPU
ts_line_thickness = 5
